* {
    margin: 0;
    padding: 0;
}

.card {
    background-color: wheat;
}

.NewsItem {
    background-color: #212529;
    /* display: flex;
    justify-content: space-between; */
}

.container {
    background-color: #212529;
    border-radius: 16px;
}

.heading {
    color: white;
    margin: 30px;
}

.copyright{
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 2px 2px ;
    font-size: 1rem;
}